depends('gcc')
depends('g++')
depends('python')
depends('node')
depends('npm')
depends('rm')
depends('mv')

depends('./.clang-format')
depends('./.clang-tidy')
depends('./.clangd')
depends('./.gitignore')
depends('./LICENSE')
depends('./src/bindings.py')
depends('./src/bindings.cc')
depends('./src/core/simd_math/simd_math.c')
depends('./src/core/simd_math/simd_math.h')
depends('./src/core/simd_math/unit_test.c')
depends('./src/core/indicators/indicators.cc')
depends('./src/core/indicators/indicators.hh')
depends('./src/core/simd_math/simd_math.c')
depends('./src/core/simd_math/simd_math.h')
depends('./src/core/simd_math/unit_test.c')
depends('./src/python/api.py')
depends('./src/web/eslint.config.js')
depends('./src/web/index.html')
depends('./src/web/package.json')
depends('./src/web/vite.config.js')
depends('./src/web/public/logo.png')
depends('./src/web/src/components/Main.jsx')
depends('./src/web/src/components/Home.jsx')
depends('./src/web/src/components/FlowCanvas.jsx')
depends('./src/web/src/components/Helper.jsx')
depends('./src/web/src/components/LiveUI.jsx')
depends('./src/web/src/components/CandlestickChart.jsx')
depends('./src/web/src/components/Navbar.jsx')
depends('./src/web/src/main.jsx')
depends('./src/web/src/App.jsx')
depends('./src/web/src/css/Navbar.css')
depends('./src/web/src/css/FlowCanvas.css')
depends('./src/web/src/css/Home.css')
depends('./src/web/src/css/root.css')
depends('./src/web/src/css/Main.css')

[compile_bind_cc_py]:
    py = ['python', './src/bindings.py', 'build_ext', '--inplace']

[cctest]:
    cc = ['gcc', '-mfma', '-msse2', '-masm=intel', '-march=native', '-mtune=native', '-funroll-all-loops', '-O3', '-s', '-lm', './src/core/simd_math/unit_test.c', './src/core/simd_math/simd_math.c', '-o', 'unit_test']

[run_py]:
    py = ['python', './src/python/api.py']

[clean]:
    0 = ['rm', '-rf']
    1 = ['./unit_test']
    2 = ['./build']

[all]:
    cctest()
    run_cctest = ['./unit_test']
    compile_bind_cc_py()
    movelib = ['mv', '--force', 'quantzlib.cpython-313-x86_64-linux-gnu.so', './src/python/']
    run_py()
    clean()