.error-box-container-parent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-items: normal;
    overflow-y: auto;
    max-height: 400px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    align-items: flex-end;
}

.error-box-container {
    background-color: rgba(255, 32, 10, 0.08);
    padding: 3px 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-items: stretch;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error-box-container>button {
    height: 18px !important;
    width: 18px !important;
    border-radius: 50% !important;
    border: none !important;
    background: transparent !important;
    color: #ff4d4d !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: all 0.2s ease !important;
}

.error-box-container>button:hover {
    background: rgba(255, 0, 0, 0.1) !important;
    color: #ff0000 !important;
    transform: scale(1.1) !important;
}

.error-box-container p {
    font-size: 14px;
    color: var(--fg);
    font-weight: 500;
    font-family: var(--font);
    margin: 0;
}